{% extends "/layouts/main.html" %}

{% set pageTitle = "Accessibility advent calendar sitemap" %}

{% block content %}

<p class="govuk-body">
  This website has been designed like an advent calendar. To experience it as intended, 
  you can open each door and enjoy one accessibility tip a day throughout December. 
  If you're keen to explore everything at once, you can also find all 12 days listed on this sitemap.
</p>

<h2 class="govuk-heading-m">Sitemap</h2>

<ul class="govuk-list">

  <li><a href="/" class="govuk-link">Home</a></li>
  <li><a href="/advent-calendar/about.html" class="govuk-link">About</a></li>
  <li><a href="/accessibility.html" class="govuk-link">Accessibility statement</a></li>
  <li><a href="/sitemap" class="govuk-link">Sitemap</a></li>

  <li><a href="/advent-calendar/day-1" class="govuk-link">Day 1: Spot missing alt text</a></li>
  <li><a href="/advent-calendar/day-2" class="govuk-link">Day 2: Navigate using only the keyboard</a></li>
  <li><a href="/advent-calendar/day-3" class="govuk-link">Day 3: Check your colour contrast</a></li>
  <li><a href="/advent-calendar/day-4" class="govuk-link">Day 4: Avoid keyboard traps</a></li>
  <li><a href="/advent-calendar/day-5" class="govuk-link">Day 5: Check your page title</a></li>
  <li><a href="/advent-calendar/day-6" class="govuk-link">Day 6: Check link purpose</a></li>
  <li><a href="/advent-calendar/day-7" class="govuk-link">Day 7: Check heading structure</a></li>
  <li><a href="/advent-calendar/day-8" class="govuk-link">Day 8: Resize text to 200%</a></li>
  <li><a href="/advent-calendar/day-9" class="govuk-link">Day 9: Check reflow at 400%</a></li>
  <li><a href="/advent-calendar/day-10" class="govuk-link">Day 10: Check focus visibility</a></li>
  <li><a href="/advent-calendar/day-11" class="govuk-link">Day 11: Check accessible names</a></li>
  <li><a href="/advent-calendar/day-12" class="govuk-link">Day 12: Final accessibility challenge</a></li>

</ul>

{% endblock %}

{% block sidebar %}
<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">Useful links</h2>
  <nav aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
      <li><a href="/" class="govuk-link">Accessibility Advent Calendar</a></li>
    </ul>
  </nav>
</aside>
{% endblock %}
